#quiz {
  width: 50%;
  background: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.quiz-container {
  background: linear-gradient(to bottom right, #6c63ff, #5dd0ff);
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  flex-grow: 1;
}
